<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>My Webpage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="/static/css/semantic.min.css" rel="stylesheet"/>
</head>
<body>
<div class="ui inverted menu">
    <a class="active item">
        Home
    </a>
    <a class="item">
        Blog
    </a>
    <a class="item">
        CV
    </a>
</div>
</body>
</html>