{% extends "base.html" %}

{% block custom_style %}
    a {
    text-decoration: none;
    }
    .card:hover {
    transform: scale(1.03);
    border: 2px solid #007bff;
    }
    .card-body {
    height: 13vw;
    overflow: hidden;
    }
    @media (max-width: 576px) {
    .card-body {
        height: auto; /* Set the desired height for small screens */
    }
    }
    @media (max-height: 600px) {
    .card-body .card-text {
        display: none;
    }
    .card-title {
        white-space: normal; /* Allow the header to wrap to the next line */
        overflow: hidden; /* Hide the overflowed text */
        text-overflow: ellipsis; /* Display an ellipsis (...) for overflowed text */
        display: -webkit-box; /* Use -webkit-box for multi-line ellipsis */
        -webkit-line-clamp: 2; /* Limit to 2 lines */
        -webkit-box-orient: vertical; /* Set box orientation to vertical */
    }
    }
    .card-img-top {
    height: 40vh;
    object-fit: cover;
    }
    .source-inline {
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgba(0, 0, 0, 1.0);
    padding: 5px;
    text-decoration: none;
    font-size: 12px;
    }
    .source-inline:hover {
    transform: scale(1.03);
    }
{% endblock %}

{% block content %}

    <h1>
        <i class="fa-solid fa-gears"></i>
        Projects
    </h1>
    <p>Here are some of the projects I have been working on:</p>
    <div class="row mb-5">
        {% for project in projects %}
            <div class="col-md-4 mt-3">
                {% if project.link %}
                    <a href="{{ url_for('project', link=project.link) }}">
                {% endif %}
                {% if project.link_ext %}
                    <a href="{{ project.link_ext }}" target="_blank">
                {% endif %}

                <div class="card">
                    <div style="position: relative; display: inline-block;">
                        <img src="{{ url_for('static', filename=project.image.src) }}" class="card-img-top"
                             alt="{{ project.image.alt }}">
                        {% if project.image.cc %}
                            <a href="{{ project.image.cc }}" target="_blank"
                               class="source-inline">
                                &copy;
                                {{ project.image.cc_author }}</a>
                        {% endif %}
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                    </div>
                </div>
                {% if project.link or project.link_ext %}
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}