{% extends "project.html" %}

{% block period %}
Oct 2022 - Feb 2023
{% endblock %}

<!-- ToDo: add carousel with pictures -->


{% block project_idea %}
    MSUP is the abreviation for "Mechatronic Systems and Products". It is a module particularly designed
    for mechatronics students at KIT. It aims to practice the complete development cycle of a mechatronic
    product, from the idea to the final product including different milestones and a market launch at the end.
    Moreover, it strengthens the ability to work in an interdisciplinary team.
{% endblock %}

{% block description %}
    </p>
    <h4>Task</h4>
    <p>One team consists of two subgroups of 5 persons each. The overall task is to stack cubes on top of each other
    using two different cooperating mechatronic sub-systems. One sub-systems is a moving vehicle to collect the cubes.
    The other one is static and has to stack the cubes on top of each other to a tower that should be as high as possible.
    </p>
{% endblock %}

{% block docu %}
    <p>Check out our presentation video of the final two subsystems.</p>
    <!-- embed video -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7Q8J9J9Q8J9" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
{% endblock %}

{% block takeaway %}
    <p>
        For me, this project was very time consuming. I was the leading CAD designer and had to create a lot of parts in
        a very short time. I learned a lot about CAD construction and how to use CAD programs efficiently. It laid the
        foundation for my later internship as a mechanical engineer providing me with a lot of basic knowledge.
    </p>
{% endblock %}