{% extends "project.html" %}

{% block project_idea %}
    Hosting a website requires a domain name and a server where the website is running on. I wanted to host my own
    website
    to learn more about web hosting and server management in general. Additionally, it is a great way to present myself
    and share some information about me with others. <br>
    A domain can be acquired quite cheaply. But hosting a webpage on a server is more expensive. A Raspberry Pi is a
    cheap
    mini computer that is light on power consumption making it the perfect choice for a web server.
    Starting with this, it opens up a lot of possibilities to host other services or to extend it to my own cloud
    server.
{% endblock %}

{% block description %}
    </p>
    <h4>Requirements</h4>
    <!-- list of requirements -->
    <ul>
        <li>Domain</li>
        <li>Raspberry Pi (min. 2 GB RAM)</li>
        <li>SD Card (min. 8 GB)</li>
        <li>Power Adapter for Raspberry Pi</li>
    </ul>
    <p>These things can be bought online. I got it from the
    <a href="https://www.raspberrypi.com/" target="_blank" class="link">
        raspberry pi online shop</a>.</p>
    <h4>How To</h4>
    <p>The following webpages helped me with this project: </p>
    <ul>
        <li>
            Raspbians:
            <a href="https://raspians.com/host-a-website-on-a-raspberry-pi-the-ultimate-guide/#Can_You_Use_A_Raspberry_Pi_To_Host_A_Website"
               class="link">
                How To Host A Website On A Raspberry Pi: A Step By Step Guide
            </a>
        </li>
        <li>
            tom's Hardware:
            <a href="https://www.tomshardware.com/how-to/host-public-website-raspberry-pi"
               class="link">
                How To Host a Public Website on Your Home Raspberry Pi
            </a>
        </li>
        <li>
            Instructables, author qarthikmb: <a
                href="https://www.instructables.com/Set-Up-Raspberry-Pi-4-Through-Laptoppc-Using-Ether/"
                class="link">
                Set Up Raspberry Pi 4 Through Laptop/pc Using Ethernet Cable
            </a>
        </li>
    </ul>
    <p>
{% endblock %}

{% block docu %}
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename=project.image.src) }}" alt="Raspberry Pi Webhost"
                 class="img-thumbnail">
        </div>
        <div class="col-md-6">
            <h4>Domain</h4>
            <p>
                I bought my domain from a domain provider. In normally they do not cost much.
                The next things we need are a web server that will host our website and respond to requests from any
                possible client. As pointed out, the Raspberry Pi is a great choice for this purpose. The other thing
                we also need, is a webpage with content we want to host.
            </p>
            <h4>Step 1: Creation of a web page</h4>
            <p>
                There are many ways to create a webpage. The more user-friendly way is to use a CMS like WordPress or
                Joomla.
                My website is based on the python's
                <a href="https://flask.palletsprojects.com/en/stable/" class="link">Flask framework</a>. Therefore,
                I followed Miguel Grinberg's <a
                    href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world" class="link">
                Flask Mega-Tutorial</a>. Jinja2 templating is used together with the CSS framework Bootstrap5 powered by
                Flask's backend framework.
            </p>
            <h4>Step 2: Setting up Raspberry Pi for Hosting</h4>
            <p>
                I used the Raspberry Pi OS x64 version for my Raspberry Pi 4 Model B. The Raspberry Pi OS is a
                Debian-based operating system, which I prefer as a ubuntu user. <br>
                My webpage is embedded inside a docker container. Docker is a great way to manage and
                deploy applications across multiple operating systems. Moreover, it allows for scalability of many
                services on only one Raspberry Pi.
            </p>
        </div>
    </div>

{% endblock %}

{% block takeaway %}
    I always dreamed about having my own webpage. Finally, I had the time to make it happen.
    It was very interesting to learn more details about web hosting and setting up and configuring a server.
    This is only the beginning for further customization and extension of my server with more services e.g. a
    cloud or a self-hosted note-taking tool.
{% endblock %}