{% extends "base.html" %}

{% block custom_style %}

.webp {
background-image: url("{{ url_for('static', filename='img/village_bg.webp') }}");
}

{% endblock %}

{% block content %}
<div class="position-absolute top-0 start-50 translate-middle-x" style="margin-top: 15vh; opacity: 80%">
    <div class="card border-2 rounded-4">
        <div class="card-body p-3 p-md-3 p-xl-4">
            <div class="row mb-2">
                <h1>Forgot Password?!</h1>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    Do you think I will make this easy for you? <br>
                    You will have to figure out your password on your own.
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="d-grid">
                        <button type="button" class="btn btn-primary"
                                onclick="window.location.href='{{ url_for('login') }}'">Back to Login
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}