{% extends "base.html" %}

{% block custom_style %}

{% endblock %}

{% block content %}

<h1>Impressum</h1>
<h2 id="m46">Diensteanbieter</h2>
<p>Jan Fenker</p>
<p>Insterburger Str. 2</p>
<p>76139 Karlsruhe</p>
<p>Deutschland</p>

<h2 id="m56">Kontaktmöglichkeiten</h2>
<p>E-Mail-Adresse: <a href="mailto:host@fenker.eu">host@fenker.eu</a></p>

<h2 id="m5234">Vorbehalt der Nutzung für Text und Data Mining</h2>
<p>Der Inhaber dieser Website gestattet die Nutzung oder das Herunterladen
    von Inhalten dieser Website durch Dritte für die Entwicklung, das Training oder den Betrieb von künstlicher Intelligenz
    oder anderen maschinellen Lernsystemen ("Text und Data Mining") ausschließlich mit ausdrücklicher schriftlicher Zustimmung
    des Inhabers. Ohne eine solche Zustimmung ist es untersagt, die Inhalte für Text und Data Mining zu verwenden. Dies gilt auch,
    wenn auf der Website keine Meta-Angaben vorhanden sind, die entsprechende Verfahren aussperren, und selbst dann, wenn Bots,
    die den Zweck haben, die Website zu Zwecken des Text und Data Mining auszulesen, nicht ausgesperrt werden.
</p>

<h2 id="m65">Haftungs- und Schutzrechtshinweise</h2>
<p>Haftungsausschluss: Die Inhalte dieses Onlineangebotes wurden sorgfältig und nach unserem aktuellen Kenntnisstand
    erstellt, dienen jedoch nur der Information und entfalten keine rechtlich bindende Wirkung, sofern es sich nicht um
    gesetzlich verpflichtende Informationen (z. B. das Impressum, die Datenschutzerklärung, AGB oder verpflichtende
    Belehrungen von Verbrauchern) handelt. Wir behalten uns vor, die Inhalte vollständig oder teilweise zu ändern oder
    zu löschen, soweit vertragliche Verpflichtungen unberührt bleiben. Alle Angebote sind freibleibend und unverbindlich.
</p>

<h2 id="m169">Bildnachweise</h2><p>Bildquellen und Urheberrechtshinweise: </p>
<p>Alle verlinkten Bilder stammen aus privater Quelle oder sind mit KI generiert worden. Jegliche Screenshots oder
Bildschirmaufnahmen, die Software von Drittanbietern zeigen, sind deutlich als solche gekennzeichnet.</p>

<p class="seal"><a href="https://datenschutz-generator.de/" title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken."
                   target="_blank" rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke</a></p>


{% endblock %}

{% block custom_script %}

{% endblock %}