{% extends "base.html" %}

{% block custom_style %}

{% endblock %}

{% block content %}


<div class="row mt-3 mb-3">
    <div class="col-md-6">
        <img src="{{ url_for('static', filename='img/welcome_space.webp') }}"
             class="img-fluid" alt="cozy grab a coffee or a cocktail scene (AI generated)"
             >
    </div>
    <div class="col-md-6">
        <h1>Internal Section</h1>
        <h2>Hi, {{ current_user.username }}</h2>
        <p>Here is the internal special fancy area for the <code>fenker.eu</code> VIP users.</p>
        <p>Feel yourself at home and grab a coffee or a cocktail!</p>
    </div>
</div>

{% endblock %}

{% block custom_script %}

{% endblock %}